@font-face {
  font-family: "iconfont"; /* Project id 2914931 */
  src: url('iconfont.woff2?t=1638167612879') format('woff2'),
       url('iconfont.woff?t=1638167612879') format('woff'),
       url('iconfont.ttf?t=1638167612879') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e66b";
}

.icon-tupian-filled:before {
  content: "\e7df";
}

.icon-anquanguanli:before {
  content: "\e603";
}

.icon-renwuliebiao:before {
  content: "\e690";
}

.icon-yujingshezhi:before {
  content: "\e60e";
}

.icon-wuzidanweijichuku:before {
  content: "\e61c";
}

.icon-cangkuguanli:before {
  content: "\e620";
}

.icon-zhiliangguanli:before {
  content: "\e7a9";
}

.icon-zengzhifuwu:before {
  content: "\e652";
}

.icon-wanglaidanwei:before {
  content: "\e600";
}

.icon-gongchenrizhi:before {
  content: "\e766";
}

.icon-jiaoseguanli:before {
  content: "\e609";
}

.icon-caidanshezhi:before {
  content: "\e687";
}

.icon-xinjianrenwu:before {
  content: "\e602";
}

.icon-jinduguanli:before {
  content: "\e70f";
}

.icon-zhichuzijinjihua:before {
  content: "\e62e";
}

.icon-fapiaoguanli:before {
  content: "\e627";
}

.icon-cailiaoguanli:before {
  content: "\e61e";
}

.icon-shebeiguanli:before {
  content: "\e60c";
}

.icon-fukuandengji:before {
  content: "\e8e9";
}

.icon-zhanghuguanli:before {
  content: "\e607";
}

.icon-gongchengyusuan:before {
  content: "\e675";
}

.icon-shouruhetong:before {
  content: "\e62b";
}

.icon-yusuanbaobiao:before {
  content: "\e6b8";
}

.icon-beiyongjinguanli:before {
  content: "\e66c";
}

.icon-zhuanyefenbaoguanli:before {
  content: "\e66d";
}

.icon-laowuguanli:before {
  content: "\e6a0";
}

.icon-shoukuandengji:before {
  content: "\e656";
}

.icon-zulinguanli:before {
  content: "\e65b";
}

.icon-feiyongbaoxiao:before {
  content: "\e727";
}

.icon-gongkaizhaobiao:before {
  content: "\edf9";
}

.icon-toubiaoguanli:before {
  content: "\e69f";
}

.icon-qianlimaxiangmukanban:before {
  content: "\e62a";
}

.icon-mokuiahua:before {
  content: "\e604";
}

.icon-jiashicang:before {
  content: "\e67f";
}

.icon-gongzuotai:before {
  content: "\e633";
}

.icon-dengji:before {
  content: "\e72d";
}

.icon-fenxibiaoshuju:before {
  content: "\e839";
}

.icon-xiangmu:before {
  content: "\e63f";
}

